.node-container {
    padding-top: 20px;
    background-color: none;
    margin-left: 1px;
    border-radius: 2px;
    overflow: visible;
}

.node {
    padding-top: 0px;
}

.node-image {
    margin-top: -35px;
    border-radius: 100px;
    width: 60px;height: 60px;
}

.node-body {
    padding: 20px;
    padding-top: 25px;
    text-align: center;
}

.node-footnotes {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    color: black;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

h4 {
    font-size: 16px;
    margin-top: 2px;
    font-weight: lighter;
}